[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/grafana

[Container]
Image=docker.io/grafana/grafana:latest
ContainerName=grafana
Network=services.network
NetworkAlias=grafana
EnvironmentFile=/etc/grafana/grafana.env
Volume=/var/lib/grafana:/var/lib/grafana:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
