[Unit]
Description=Prometheus SNMP Exporter
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/prometheus/snmp-exporter:latest
ContainerName=snmp-exporter
Network=services.network
NetworkAlias=snmp-exporter
EnvironmentFile=/etc/snmp-exporter/snmp.env
Volume=/etc/snmp-exporter/snmp-auth.yml:/config/snmp-auth.yml:ro,Z
Exec=--config.file=/etc/snmp_exporter/snmp.yml --config.file=/config/snmp-auth.yml --config.expand-environment-variables

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
