[Unit]
Description=Loki
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/loki

[Container]
Image=docker.io/grafana/loki:latest
ContainerName=loki
Network=services.network
NetworkAlias=loki
Volume=/etc/loki/loki.yml:/etc/loki/local-config.yaml:ro,Z
Volume=/var/lib/loki:/loki:Z
Exec=-config.file=/etc/loki/local-config.yaml

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
