# Recommended: copy this file into /etc/containers/systemd/ and customize the local copy.

[Unit]
Description=Prometheus Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/prometheus/blackbox-exporter:latest
ContainerName=blackbox-exporter
Network=services.network
NetworkAlias=blackbox-exporter
Volume=/etc/blackbox-exporter/blackbox.yml:/config/blackbox.yml:ro,Z
Exec=--config.file=/config/blackbox.yml

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
