[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/alertmanager

[Container]
Image=docker.io/prom/alertmanager:latest
ContainerName=alertmanager
Network=services.network
NetworkAlias=alertmanager
Volume=/etc/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro,Z
Volume=/etc/alertmanager/secrets/telegram-bot-token:/run/secrets/telegram-bot-token:ro,Z
Volume=/var/lib/alertmanager:/alertmanager:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
