[Unit]
Description=Grafana Alloy
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/grafana/alloy:latest
ContainerName=alloy
Network=services.network
NetworkAlias=alloy
SecurityLabelDisable=true
Volume=/etc/alloy/config.alloy:/etc/alloy/config.alloy:ro
Volume=/var/log/journal:/var/log/journal:ro
Volume=/run/log/journal:/run/log/journal:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Exec=run /etc/alloy/config.alloy

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
