[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/prometheus

[Container]
Image=docker.io/prom/prometheus:latest
ContainerName=prometheus
Network=services.network
NetworkAlias=prometheus
Volume=/etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro,Z
Volume=/etc/prometheus/rules:/etc/prometheus/rules:ro,Z
Volume=/var/lib/prometheus:/prometheus:Z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
